<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atualizar</title>
    <link rel="stylesheet" href="./style/style-cadastro.css" />
    <link rel="icon" type="image/png" href="./assets/atualizar-icon.png" />
  </head>
  <body>
    <div class="container">
      <div id="cdProdutos">
          <label>Id</label><br />
          <input type="text" name="txtNome" id="id" /><br /><br />

          <label>Nome</label><br />
          <input type="text" name="txtNome" id="nome" /><br /><br />

          <label>Descrição</label><br />
          <input type="text" name="txtDescricao" id="descricao" /><br /><br />

          <label>Preço</label><br />
          <input type="text" name="txtPreco" id="preco" /><br /><br />
          <button id="update" >Atualizar produto</button>
      </div>
    </div>

    <script type="module" src="javascript/atualizaProd.js"></script>
  </body>
</html>
