* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }

 body{
  
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background:  cadetblue;

 }

 div#caixa{

  width: 350px;
  float: right;
  margin-right: 100px;
  font-size: large;
  padding: 15px;

  
 }

 input{
  border-radius: 1px;
  border: none;
  width: 190px;
 }

 button#buscar{

  position: relative;
  top: -43px;        
  left: -20px;
  padding: 5px;
  border-radius: 10px;
  float: right;
  border: none;
 }


  
 table{
  width: 990px;
  background-color: #6C7A89;
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  
 }
 td{
  padding: 10px;
 }

   
 
 
 /* .container{
    width: 100vw;
    height: 100vh;
    background:  cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    }

    

    div#tabela-produtos{
        background-color: #6C7A89;
        width: 680px;
        height: 410px;
        padding: 20px 20px 50px 10px ;
        border-radius: 10px;
        text-align: center;
        
    }
    table{
      border: 1px solid black;
      
      border-collapse: collapse;
    }
   
  
    td{
        padding: 7px;
        border: 1px solid black;
        
        

        
        
    }