<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Consumindo API/produto</title>

  <link rel="stylesheet" href="./style-main.css" />
</head>

<body>




  <div class="container">

    <div id="tabela-produtos">

      <table>
        <tr>
          <td> Id</td>
          <td>Nome</td>
          <td>Descrição</td>
        </tr>

        <tr>
          <td id="id-0"></td>
          <td id="nome-0"></td>
          <td id="descricao-0"></td>
        </tr>

        <tr>
          <td id="id-1"></td>
          <td id="nome-1"></td>
          <td id="descricao-1"></td>
        </tr>


        <tr>
          <td id="id-2"></td>
          <td id="nome-2"></td>
          <td id="descricao-2"></td>
        </tr>

        <tr>
          <td id="id-3"></td>
          <td id="nome-3"></td>
          <td id="descricao-3"></td>
        </tr>

        <tr>
          <td id="id-4"></td>
          <td id="nome-4"></td>
          <td id="descricao-4"></td>
        </tr>


      </table>

    </div>
  </div>



  <script src="main.js"></script>
</body>

</html>