<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./style-home.css" />
</head>

<body>

    <div class="container">

        <div id="homePage">
            <h1>Treinamento Api EmpresaX</h1>

            <button id="listar">
                <a href="./home.html" target="_blank">
                    Clique para listar os produtos
                </a>

            </button>
            <button id="listar2">
                <a href="./cadastro.html" target="_blank">
                    Clique para cadastrar produtos
                </a>

            </button>


        </div>


    </div>


</body>

</html>